.body {
    width: 100%;
    height: 100vh;
    background: black;
}

.navbar {
    background: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 120px;
    right: 0;
    text-align: left;
    align-items: left;
    justify-content: center;
    position: fixed;
}

.navbar button {
    margin: 0px 0px 0px 10px;
    height: 50px;
    width: fit-content;
    font-size: 20px;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
    font-family: 'Fragment Mono', monospace;
    cursor: pointer;
}

.icon2 {
    font-size: 22px;
}

.conta {
    color: rgb(255, 230, 0);
}

.sair {
    color: rgb(221, 41, 41);
}

.conta:hover {
    border: solid 3px rgb(255, 230, 0);
}

.sair:hover {
    border: solid 3px rgb(221, 41, 41);
}