.homeAll {
    width: 100vw;
    background-image: url('../../assets/img/Home-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
}

.homeContainer{
    margin-top: 2%;
    width: 40%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContainer h1 {
    width: 100%;
    font-family: 'Gagalin', cursive;
    margin: 100px 0px 10px;
    font-size: 180px;
    color: rgba(255, 255, 255, 0.59);
    letter-spacing: 10px;
    text-shadow: 10px 10px 20px #edadff8d;
}

.homeContainer h2 {
    font-family: 'Alegreya', serif;
    letter-spacing: 5px;
    margin-bottom: 200px;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.homeContainer .login {
    background-color: #78108d;
    border-radius: 20px;
    border: none;
    color: white;

    font-size: 35px;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 1px;

    padding: 10px 70px;

    transition: ease 0.7s;
    cursor: pointer;
}

.homeContainer .login:hover {
    background-color: #480855;
    transition: ease 0.7s;
}

.homeContainer .create {
    padding: 10px;
    font-size: 25px;
    background: none;
    border: none;
    color: white;
    margin-bottom: 20px;

    font-family: 'League Gothic', sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;

    transition: ease 0.5s;
}

.homeContainer .create:hover {
    color: rgb(89, 66, 95);
    transition: ease 0.5s;
}

@media (max-width: 1400px) {
    
    .homeContainer {
        width: 50%;
    }

}

@media (max-width: 1000px) {
    
    .homeContainer {
        width: 60%;
    }

}

@media (max-width: 850px) {
    
    .homeContainer {
        width: 100%;
    }

}

@media (min-height: 779px) {
    .homeAll {
        height: 100vh;
    }
}