.modalBackgroundConta {
    width: 100vw;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(37, 37, 37, 0.7);
    padding: 25px;
    overflow-x: hidden;
  }

  .modalContainerConta {
    width: 800px;
    height: 750px;
    position: relative;
    border-radius: 12px;
    background-color: rgb(37, 37, 37);
    box-shadow: rgba(255, 255, 255, 0.45) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 3;
    overflow-y: visible;
  }
  
  .modalContainerConta .titleConta {
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    color: #a151b4;
  }

  .modalContainerConta hr {
    margin-bottom: 20px;
  }
  
  .titleCloseBtnConta {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtnConta button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  .modalContainerConta .bodyConta {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    font-size: 1.7rem;
    overflow-y: visible;
  }

  .dados {
    color: white;
    font-weight: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    border: 2px solid white;
    border-radius: 7px;
    width: 88%;
    padding: 13px;
    text-align: left;
  }

  .grid {
    width: 100%;
    margin-left: -6.2%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(87, 16, 137);
  }

  .grid-item1 {
    display: flex;
    flex-direction: column;
  }

  .grid-item3 {
    display: flex;
    flex-direction: column;
  }

  .grid-item7 {
    width: 200%;
    margin-left: -25px;
  }

  .modalContainerConta input {
    width: 87%;
    margin-top: 0px;
    font-size: 18px;
    padding: 15px;
    background: none;
    z-index: 1;
    border-radius: 7px;
    border: none;
    outline: solid 2px white;
    color: white;
  }

  .modalContainerConta input:focus {
    text-indent: 0%;
    transition: ease 0.5s;
  }

  .modalContainerConta .label {
    position: relative;
    width: fit-content;
    height: 30px;
    top: 12%;
    left: 0%;
    z-index: 2;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: rgb(208, 147, 226);
    padding: 10px 10px;
    transition: ease 0.5s;
  }

  .modalContainerConta .labeldesactive {
    position: relative;
    width: fit-content;
    height: 30px;
    top: 12%;
    left: 0%;
    z-index: 2;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: rgb(208, 147, 226);
    padding: 10px 10px;
    transition: ease 0.5s;
  }

  .modalContainerConta .labelactive {
    font-size: 0.8em;
    transition: ease 0.5s;

    position: relative;
    width: fit-content;
    height: 30px;
    top: 12%;
    left: 0%;
    z-index: 2;
    background-color: rgb(37, 37, 37);
    color: rgb(208, 147, 226);
    padding: 10px 10px;
  }

  .modalContainerConta .labelactive2 {
    font-size: 0.8em;
    transition: ease 0.5s;

    position: relative;
    width: fit-content;
    height: 30px;
    top: 12%;
    left: 0%;
    z-index: 2;
    background-color: rgb(37, 37, 37);
    color: rgb(208, 147, 226);
    padding: 10px 10px;
  }

  .modalContainerConta .miniFooterConta {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
  }

  .miniFooterConta .deleteConta {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    position: relative;
    top: -2%;
    margin-left: 200px;
    border: 1px solid red;
    padding: 3px;
    padding-left: 20px;
    border-radius: 100px;
  }

  .deleteConta button {
    font-size: 19px;
    border: none;
    background: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: ease 0.5s;
  }

  .deleteConta button:hover {
    color:rgb(255, 111, 111);
  }

  .iconDelete {
    color: red;
    position: absolute;
    top: 15%;
    left: 3%;
  }
  
  .modalContainerConta .footerConta { 
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -30px;
  }
  
  .modalContainerConta .footerConta button {
    width: 170px;
    height: 55px;
    margin: 20px;
    margin-top: -10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
  }
  
  #cancelBtnConta {
    background-color: crimson;
  }

  .divtoggleConta {
    height: 70px;
    display: flex;
    width: 100%;
  }

  .divtoggleConta h3 {
    color: white;
    position: relative;
    top: -5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-decoration:underline ;
  }

  .toggleConta {
    display: none;
  }

  .toggleConta + .toggleContalabel {
    left: 2%;
    width: 38px;
    height: 20px;
    background: lightgrey;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
  }

  .toggleConta + .toggleContalabel:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 19px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 0px;
    top: 1px;
    transition: 200ms;
  }

  .toggleConta:checked + .toggleContalabel {
    background: blue;
  }

  .toggleConta:checked + .toggleContalabel:before {
    content: '';
    left: calc(100% - 20px);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  }

  @media (min-width: 851px) {
    .modalContainerConta .labeldesactive2 {
      position: relative;
      width: fit-content;
      height: 30px;
      top: 12%;
      left: 0%;
      z-index: 2;
      font-size: 20px;
      background-color: rgb(37, 37, 37);
      color: rgb(208, 147, 226);
      padding: 10px 10px;
      transition: ease 0.5s;
    }
  }

  @media (max-width: 850px) {
    .modalContainerConta .bodyConta {
      margin-left: 50px;
      display: grid;
      grid-template-columns: 300px 300px;
      justify-content: center;
      font-size: 1.7rem;
      overflow-y: visible;
    }

    .labeldesactive2 {
      font-size: 0.65em;

      position: relative;
      width: fit-content;
      height: 30px;
      top: 12%;
      left: 0%;
      z-index: 2;
      background-color: rgb(37, 37, 37);
      color: rgb(208, 147, 226);
      padding: 10px 10px;
      transition: ease 0.5s;
    }

    .modalContainerConta .labelactive2 {
      font-size: 0.71em;
      transition: ease 0.5s;
    }

    .deleteConta {
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 300px;
      position: relative;
      top: -2%;
      right: 11%;
      margin-left: 200px;
      border: 1px solid red;
      padding: 5px;
      padding-left: 25px;
      border-radius: 100px;
    }
    .deleteBtn {
      margin-left: 0px;
    }
    .divtoggleConta {
      position: relative;
      left: 11%;
      width: 700px;
    }

    .titleCloseBtnConta button {
      visibility: hidden;
    }

  }

  @media (max-width: 700px) {
    .modalBackgroundConta {
      overflow: hidden;
      padding: 0px;
    }
    .modalContainerConta {
      padding-top: 135px;
      height: 1100px;
    }
    .titleConta {
      margin-top: 0px;
    }
    .titleCloseBtnConta {
      margin-top: -120px;
    }
    .modalContainerConta .bodyConta {
      margin-left: 50px;
      display: grid;
      grid-template-columns: 400px;
      justify-content: center;
      font-size: 1.7rem;
    }
    .grid-item7 {
      width: 120%;
      margin-left: -65px;
    }
    .modalContainerConta .labelactive2 {
      font-size: 0.775em;
      transition: ease 0.5s;
    }

    .grid {
      border: none;
    }

    .grid-item2 {
      border-bottom: 2px solid rgb(87, 16, 137);
    }
    .grid-item4 {
      border-bottom: 2px solid rgb(87, 16, 137);
    }
    .grid-item6 {
      border-bottom: 2px solid rgb(87, 16, 137);
    }
    .grid-item7 {
      border-bottom: 2px solid rgb(87, 16, 137);
    }

    .deleteConta {
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 300px;
      position: relative;
      top: -2%;
      right: 19%;
      margin-left: 200px;
      border: 1px solid red;
      padding: 5px;
      padding-left: 25px;
      border-radius: 100px;
    }
    .deleteBtn {
      margin-left: 0px;
    }
    .divtoggleConta {
      position: relative;
      left: 20%;
      width: 700px;
    }
  }