.modalBackground {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(37, 37, 37, 0.7);
    padding: 25px;
    overflow-y: visible;
    overflow-x: hidden;
    }
  
  .modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: rgb(37, 37, 37);
    box-shadow: rgba(255, 255, 255, 0.45) 0px 5px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 3;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
    color: #a151b4;
  }

  .modalContainer hr {
    margin-bottom: -50px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .modalContainer .loginBody {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    font-size: 1.7rem;
  }

  .modalContainer input {
    margin-top: 0px;
    font-size: 20px;
    padding: 15px;
    background: none;
    z-index: 1;
    border-radius: 7px;
    border: none;
    outline: solid 2px white;
    color: white;
  }

  .modalContainer input:focus {
    text-indent: 0%;
    transition: ease 0.5s;
  }
  
  .modalContainer .campo {
    text-indent: 33%;
    transition: ease 0.3s;
  }

  .modalContainer .senha {
    text-indent: 21%;
    transition: ease 0.3s;
  }

  .modalContainer label {
    position: relative;
    width: fit-content;
    top: 15%;
    left: 3%;
    z-index: 2;
    font-size: 25px;
    background-color: rgb(37, 37, 37);
    color: rgb(208, 147, 226);
  }

  .modalContainer .labeldesactive {
    position: relative;
    top: 15%;
    left: 3%;
    z-index: 2;
    transition: ease 0.5s;
  }

  .modalContainer .labelactive {
    position: relative;
    transform: translateX(10px) translateY(-30px);
    font-size: 0.8em;
    transition: ease 0.5s;
    z-index: 2;
    padding: 0px 10px;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: -20px;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }

  .toggles {
    margin-top: -50px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 10px;
    margin-right: -90px;
    justify-content: space-between;
  }

  .divtoggle {
    height: 70px;
    display: flex;
    width: 100%;
    margin-top: 10px;
  }

  .divtoggle h3 {
    color: white;
    position: relative;
    top: 9%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    text-decoration:underline ;
  }

  .toggle {
    display: none;
  }

  .toggle + .togglelabel {
    width: 38px;
    height: 20px;
    background: lightgrey;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
  }

  .toggle + .togglelabel:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 19px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 0px;
    top: 1px;
    transition: 200ms;
  }

  .toggle:checked + .togglelabel {
    background: blue;
  }

  .toggle:checked + .togglelabel:before {
    content: '';
    left: calc(100% - 20px);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  }

  .toggle1 {
    display: none;
  }

  .toggle1 + .togglelabel1 {
    width: 38px;
    height: 20px;
    background: lightgrey;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
  }

  .toggle1 + .togglelabel1:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 19px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 0px;
    top: 1px;
    transition: 200ms;
  }

  .toggle1:checked + .togglelabel1 {
    background: blue;
  }

  .toggle1:checked + .togglelabel1:before {
    content: '';
    left: calc(100% - 20px);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  }

  @media (max-width: 550px) {
    .modalContainer .campo {
      text-indent: 35%;
      transition: ease 0.3s;
    }
    .toggles {
      margin-right: -60px;
    }
  }
